application:
  title: Cloud Native Summit
  url: https://cfp.mate.dev
  email: chris@mate.dev
  eventurl: http://myenvent.com
  event_location: Wellington, NZ
  enddate: Oct. 14th, 2100
  show_submission_count: false
  airport: WGN
  arrival: 2025-10-26
  departure: 2025-10-31
  secure_ssl: true
  online_conference: false
  date_format: d/m/Y
  date_timezone: "UTC"
  coc_link: https://mate.dev/codeofconduct
  venue_image_path: /assets/img/venue.jpg
  user_image_size: 300
  anonymized_reviews: false

  organization: Cloud Native Summit
  orgurl: cloudnativesummit.co
  twitterevent: cloudnativego
  hashtag: cloudnativeANZ
  googleAnalytics: G-N6EEXMSGRH
  linkedinPage: https://www.linkedin.com/company/cloud-native-australia-newzealand

database:
  host: 127.0.0.1
  database: cfp
  dsn: mysql:dbname=cfp;host=127.0.0.1
  user: root
  password: ~

log:
  level: error

mail:
  host: smtp.sendgrid.net
  port: 587
  username: ~
  password: ~
  encryption: ~
  auth_mode: ~

talk:
  categories:
    api: APIs
    architecturedesign: Architecture & Design
    automation: Automation
    bigdataanalytics: Big Data & Analytics
    cloudTechnologies: Cloud Technologies
    containertechnology: Container Technology
    continuousdelivery: Continuous Delivery
    database: Database
    development: Development
    devops: Devops
    envirosust: Environmental Sustainability
    framework: Frameworks-related topics
    iot: IoT
    javascript: JavaScript
    languagesdev: Programming Languages
    loggingmonitoring: Logging & Monitoring
    microservices: Microservices
    mobile: Mobile Development
    personal: Professional Development
    security: Security
    serverless: Serverless
    servicemesh: ServiceMesh
    testing: Testing
    uiux: UI/UX
    other: Other
  levels:
    entry: Entry level
    mid: Mid-level
    advanced: Advanced
  types:
    regular: Regular (25 mins)
    lightningtalk: Lightning talk (10 mins - Pre-Conference)
    tutorial: Tutorial (3 hrs - Pre-Conference)

security:
  firewalls:
    secured_area:
      form_forgot:
        csrf_parameter: _csrf_security_token
        csrf_token_id: forgot_password

reviewer:
  users:
    -

opencfpcentral:
  sso: off
  clientId: 0
  clientSecret: 0
  authorizeUrl: https://www.opencfpcentral.com/oauth/authorize?
  redirectUri: http://localhost/sso/redirect
  resourceUri: https://www.opencfpcentral.com/api/user
  tokenUrl: https://www.opencfpcentral.com/oauth/token
